.loaderContainer {
  width: 100%;
  position: relative;
}

.loader1,
.loader2,
.loader3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

.loader1 {
  z-index: 999;
  background: black;
}
.loader2 {
  z-index: 998;
  background: cyan;
}

.loader3 {
  z-index: 997;
  background: #ff0044;
}
